_vimperator/info/
_vim/bundle/
_vim/plugged/
_vim/vimrc/_vimrc
_vim/vimrc/_vimrc.edit
_vim/vimrc/_vimrc.visual
_vim/localbundle/
.neobundle/

_vim/undo/
_vim/backup/

_atom/.apm
_atom/packages
_atom/blob-store
_atom/.git-history

/fish/completions/*
/fish/conf.d/*
/fish/functions/*
/fish/fishd.*
!/fish/functions/fish_prompt.fish
!/fish/functions/fish_right_prompt.fish
!/fish/functions/pcd.fish
