[submodule "_vim/vundle.git"]
    path = _vim/vundle.git
    url = http://github.com/gmarik/vundle.git
    ignore = untracked
[submodule "neobundle.vim"]
	path = neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "_vim/neobundle.vim"]
	path = _vim/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
