"*":
  Ensime:
    sbtExec: "/usr/local/bin/sbt"
  "advanced-open-file":
    helmDirSwitch: true
  "atom-beautify":
    c:
      beautify_on_save: true
      default_beautifier: "clang-format"
    general:
      _analyticsUserId: "8d31151b-6c03-402f-843f-7541249c3d7e"
      analytics: false
      beautifyEntireFileOnSave: false
    rust:
      beautify_on_save: true
  "autocomplete-bibtex": {}
  "autocomplete-clang": {}
  "autocomplete-go": {}
  "autocomplete-plus": {}
  "bracket-matcher": {}
  "browser-plus": {}
  build: {}
  core:
    disabledPackages: [
      "line-ending-selector"
      "goto"
      "task-list"
      "hyperclick"
      "term3"
      "emmet"
      "tablr"
      "imdone-atom"
      "Ensime"
      "browser-plus"
      "pigments"
      "linter-clang"
      "tokamak"
      "tokamak-terminal"
      "color-picker"
      "autocomplete-bibtex"
    ]
    packagesWithKeymapsDisabled: [
      "travis-ci-status"
      "make-runner"
      "color-picker"
    ]
    themes: [
      "atom-dark-ui"
      "solarized-light-syntax"
    ]
  "cursor-history":
    debug: true
  editor:
    fontFamily: "Ricty"
    fontSize: 16
    invisibles:
      eol: " "
    lineHeight: 1.2
    showIndentGuide: true
    showInvisibles: true
    showLineNumbers: false
    softWrap: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "bb64fe25-8573-0f55-f93d-ca6d0d6723f3"
  "file-types":
    tmpl: "text.html.gohtml"
  "find-and-replace":
    openProjectFindResultsInRightPane: true
    scrollToResultOnLiveSearch: true
  "fuzzy-finder": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-log":
    fontFamily: "Ricty"
    fontScale: 1
  "git-plus": {}
  "go-plus":
    formatTool: "goreturns"
    goPath: "~/.go"
    showPanelWhenNoIssuesExist: true
  gofmt: {}
  "gometalinter-linter":
    args: [
      "--fast"
      "--vendor"
      "--tests"
      "--disable=gotype"
      "--json"
      "."
    ]
  hex: {}
  "imdone-atom":
    openIn: {}
    todaysJournal: {}
  "latex-plus":
    bibtexEnabled: true
  "lazy-motion": {}
  linter: {}
  "linter-clang": {}
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-rust":
    cargoCommand: "check"
    cargoPath: "/usr/local/bin/cargo"
    rustcPath: "/usr/local/bin/rustc"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer":
    newPostFileName: "{year}-{month}-{day}{extension}"
    siteEngine: "hexo"
    sitePostsDir: "content/post"
  minimap:
    absoluteMode: true
    displayCodeHighlights: false
  nim: {}
  pigments: {}
  racer:
    cargoHome: '''
      /Users/okuno/.multirust/toolchains/stable/cargo
      
    '''
  "symbols-tree-view": {}
  tablr: {}
  tabs:
    usePreviewTabs: true
  tasks: {}
  term2:
    colors:
      brightWhite:
        alpha: 1
        blue: 33
        green: 33
        red: 33
      foreground:
        alpha: 1
        blue: 77
        green: 77
        red: 77
      normalWhite:
        alpha: 1
        blue: 62
        green: 62
        red: 62
    fontFamily: "Ricty"
  term3:
    colors:
      brightWhite:
        alpha: 1
        blue: 173
        green: 171
        red: 172
      foreground:
        alpha: 1
        blue: 104
        green: 108
        red: 107
      normalWhite:
        alpha: 1
        blue: 192
        green: 199
        red: 192
  "todo-show": {}
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-mode-plus":
    incrementalSearch: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    stayOnTransformString: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    tabLength: 4
".plain.text":
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
