"*":
  "exception-reporting":
    userId: "bb64fe25-8573-0f55-f93d-ca6d0d6723f3"
  welcome:
    showOnStartup: false
  editor:
    invisibles:
      eol: " "
    fontFamily: "Ricty"
    lineHeight: 1.2
    showIndentGuide: true
    tabLength: 4
    showInvisibles: true
    softWrap: true
    showLineNumbers: false
    fontSize: 18
  core:
    themes: [
      "atom-dark-ui"
      "solarized-light-syntax"
    ]
    disabledPackages: [
      "line-ending-selector"
      "emmet"
      "goto"
      "task-list"
      "hyperclick"
    ]
    packagesWithKeymapsDisabled: [
      "travis-ci-status"
      "make-runner"
    ]
  "go-plus":
    goPath: "~/.go"
    formatTool: "goreturns"
    showPanelWhenNoIssuesExist: true
  "git-diff":
    showIconsInEditorGutter: true
  term2:
    colors:
      foreground:
        red: 77
        green: 77
        blue: 77
        alpha: 1
      brightWhite:
        red: 33
        green: 33
        blue: 33
        alpha: 1
      normalWhite:
        red: 62
        green: 62
        blue: 62
        alpha: 1
    fontFamily: "Ricty"
  "file-types":
    tmpl: "text.html.gohtml"
  minimap:
    displayCodeHighlights: false
    absoluteMode: true
  "tree-view":
    squashDirectoryNames: true
    hideIgnoredNames: true
  "linter-eslint":
    globalNodePath: "/usr/local"
  "markdown-preview":
    useGitHubStyle: true
  "advanced-open-file":
    helmDirSwitch: true
  "git-log":
    fontScale: 1
    fontFamily: "Ricty"
  "vim-mode-plus":
    useSmartcaseForSearch: true
    incrementalSearch: true
    stayOnTransformString: true
    showHoverSearchCounter: true
    showHoverOnOperate: true
  "cursor-history":
    debug: true
  Ensime:
    sbtExec: "/usr/local/bin/sbt"
  "atom-beautify":
    _analyticsUserId: "8d31151b-6c03-402f-843f-7541249c3d7e"
    language_c_beautify_on_save: true
    language_c_default_beautifier: "clang-format"
    analytics: false
  term3:
    colors:
      foreground:
        red: 107
        green: 108
        blue: 104
        alpha: 1
      normalWhite:
        red: 192
        green: 199
        blue: 192
        alpha: 1
      brightWhite:
        red: 172
        green: 171
        blue: 173
        alpha: 1
  "find-and-replace":
    scrollToResultOnLiveSearch: true
    openProjectFindResultsInRightPane: true
  "fuzzy-finder": {}
  tabs:
    usePreviewTabs: true
  tasks: {}
  "symbols-tree-view": {}
".plain.text":
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
