"*":
  Ensime:
    sbtExec: "/usr/local/bin/sbt"
  "advanced-open-file":
    helmDirSwitch: true
  "atom-beautify":
    c:
      beautify_on_save: true
      default_beautifier: "clang-format"
    cpp: {}
    general:
      _analyticsUserId: "8d31151b-6c03-402f-843f-7541249c3d7e"
      analytics: false
      beautifyEntireFileOnSave: false
    rust:
      rustfmt_path: "/Users/okuno/.cargo/bin/rustfmt"
  "autocomplete-bibtex": {}
  "autocomplete-clang": {}
  "autocomplete-go": {}
  "autocomplete-plus": {}
  "autocomplete-python":
    showDescriptions: false
  "bracket-matcher": {}
  "browser-plus": {}
  build: {}
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "line-ending-selector"
      "goto"
      "task-list"
      "hyperclick"
      "emmet"
      "tablr"
      "imdone-atom"
      "pigments"
      "tokamak"
      "tokamak-terminal"
      "color-picker"
      "autocomplete-bibtex"
      "gitignore-snippets"
      "proto-repl"
      "julia-client"
      "nim"
      "ink"
      "advanced-new-file"
      "ansible-snippets"
      "language-ansible"
      "linter-ansible-lint"
    ]
    packagesWithKeymapsDisabled: [
      "travis-ci-status"
      "make-runner"
      "color-picker"
      "proto-repl"
      "browser-plus"
      "autocomplete-python"
      "autocomplete-python"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "solarized-light-syntax"
    ]
  "cursor-history": {}
  editor:
    fontFamily: "Ricty"
    fontSize: 20
    invisibles:
      eol: " "
    lineHeight: 1.2
    showIndentGuide: true
    showInvisibles: true
    showLineNumbers: false
    softWrap: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "bb64fe25-8573-0f55-f93d-ca6d0d6723f3"
  "file-types":
    tmpl: "text.html.gohtml"
  "find-and-replace":
    openProjectFindResultsInRightPane: true
    scrollToResultOnLiveSearch: true
  "fuzzy-finder": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-log":
    fontFamily: "Ricty"
    fontScale: 1
  "git-plus":
    splitPane: "Right"
  "go-debug":
    limitCommandsToGo: true
    panelInitialVisible: false
  "go-plus":
    formatTool: "goreturns"
    goPath: "~/.go"
    panelDisplayMode: "closed"
    showPanelWhenNoIssuesExist: true
  gofmt: {}
  "gometalinter-linter":
    args: [
      "--fast"
      "--vendor"
      "--tests"
      "--disable=gotype"
      "--disable=gocyclo"
      "--json"
      "."
    ]
  hex: {}
  "imdone-atom":
    openIn: {}
    todaysJournal: {}
  "latex-plus":
    bibtexEnabled: true
  "lazy-motion": {}
  linter:
    errorPanelHeight: 22
  "linter-clang": {}
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-rust":
    cargoCommand: "check"
    cargoPath: "/Users/okuno/.cargo/bin/cargo"
    rustcPath: "/Users/okuno/.cargo/bin/rustc"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer":
    newPostFileName: "{year}-{month}-{day}{extension}"
    siteEngine: "hexo"
    sitePostsDir: "content/post"
  minimap:
    absoluteMode: true
    displayCodeHighlights: false
    plugins:
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  nim: {}
  pigments: {}
  "proto-repl":
    autoScroll: false
  racer:
    cargoHome: '''
      /Users/okuno/.cargo/bin/cargo
      
    '''
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    syncHorizontalScroll: true
  "symbols-tree-view": {}
  tablr: {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  tasks: {}
  term2:
    colors:
      brightWhite:
        alpha: 1
        blue: 33
        green: 33
        red: 33
      foreground:
        alpha: 1
        blue: 77
        green: 77
        red: 77
      normalWhite:
        alpha: 1
        blue: 62
        green: 62
        red: 62
    fontFamily: "Ricty"
  term3:
    colors:
      brightWhite: "#acabad"
      foreground: "#6b6c68"
      normalWhite: "#c0c7c0"
  "todo-show": {}
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Bottom"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-mode-plus":
    incrementalSearch: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    stayOnTransformString: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    tabLength: 4
".ini.source":
  editor:
    tabLength: 4
".nim.source":
  editor:
    tabLength: 4
".plain.text":
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
