'atom-text-editor[data-grammar="source go"]:not(.mini)':
  'ctrl-]': 'golang:godef'

'atom-text-editor[data-grammar="source scala"]:not(.mini)':
  'ctrl-]': 'ensime:go-to-definition'

'atom-text-editor[data-grammar="source rust"]:not(.mini)':
  'ctrl-]': 'racer:find-definition'

'.platform-darwin atom-workspace':
  'cmd-o': 'advanced-open-file:toggle'

'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
  'space m': 'quick-highlight:toggle'
  'space M': 'quick-highlight:clear'

'atom-text-editor.vim-mode-plus.normal-mode':
  'space f': 'lazy-motion:forward'

'.platform-darwin atom-text-editor.lazy-motion[mini]':
  ']':      'lazy-motion:forward'
  '[':      'lazy-motion:backward'
  ';':      'core:confirm'
  'ctrl-g': 'core:cancel'

'atom-workspace':
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

'atom-text-editor.autocomplete-active':
  'ctrl-g': 'autocomplete-plus:cancel'

'body':
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'

'.platform-darwin atom-text-editor[data-grammar~=python]:not(.mini)':
  'ctrl-]': 'autocomplete-python:go-to-definition'
