{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "env": {
    "CLAUDE_BASH_MAINTAIN_PROJECT_WORKING_DIR": "1"
  },
  "includeCoAuthoredBy": false,
  "permissions": {
    "allow": [
      "Bash(mkdir:*)",
      "Bash(mv:*)",
      "Bash(ls:*)",
      "Bash(rg:*)",
      "Bash(fd:*)",
      "Bash(timeout:*)",
      "Bash(git commit:*)",
      "Bash(git pull:*)",
      "Bash(git checkout:*)",
      "Bash(git branch:*)",
      "Bash(git fetch:*)",
      "Bash(git rev-parse:*)",
      "Bash(gh pr view:*)",
      "Bash(bun:*)",
      "Bash(gradle:*)",
      "WebFetch(domain:bun.sh)",
      "WebFetch(domain:github.com)"
    ],
    "deny": [],
    "defaultMode": "plan"
  },
  "enableAllProjectMcpServers": true,
{{- if eq .chezmoi.os "darwin" }}
  "hooks": {
    "Stop": [
      {
        "matcher": "",
        "hooks": [
          {
            "type": "command",
            "command": "osascript -e 'display notification \"Stop\" with title \"Claude Code \"' && afplay -t 0.4 /System/Library/Sounds/Glass.aiff"
          }
        ]
      }
    ]
  },
{{- end }}
  "statusLine": {
    "type": "command",
    "command": "npx ccusage@latest statusline"
  },
  "enabledPlugins": {
    "frontend-design@claude-code-plugins": true
  },
  "alwaysThinkingEnabled": false
}
